@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');

html {
    font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 18px;
}

hr {
  border: 1px solid #eee;
}

a { text-decoration: none; }

.App {
  margin: 45px 63px;
  max-width: 1440px;
}

#top-button {
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 72px;
}

#top-button img {
  display: block;
}

.App header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.App > header > nav {
  background-color: white;
  min-height: 72px;
  padding: 45px 63px 0;
}

.header-fade {
  height: 63px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 9%,rgba(255,255,255,0) 100%);
}

.header-offset {
  height: 81px;
}

.header-offset--no-buttons {
  height: 126px;
}

svg.logo {
  width: 270px;
}

div.logo {
  margin-right: 9%;
}

.sort-buttons {
    margin: 63px 0;
}

.sort-buttons > span.button__toggle:not(:first-of-type) {
  margin: 0 18px;
}

.post__date {
    margin: 0;
}

.post_preview {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.5em;
  max-width: 1200px;
}

.post_preview > p > i {
  color: #999;
}

.post_body {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5em;
  max-width: 1200px;
}

.post article {
    border-bottom: 1px solid #CCC;
    border-radius: 3px;
    margin: 0 -9px 45px;
    max-width: 1200px;
    padding: 9px 9px 27px;
    transition: all .25s cubic-bezier(0.42, 0, 0.33, 0.97);
}
/* .post article.post-preview:hover,
.comments__comment:hover > .comments__comment__text {
  background-color: rgba(0,0,0,.03);
} */

.category-tag {
    background-color: #F5FBF8;
    border-radius: 3px;
    color: #666666;
    padding: 3px 9px;
}

.button-wrap,
.control-icon-wrap {
  margin: 0 0 0 27px;
}

.button-wrap__icon {
    background-color: white;
    box-shadow: 1px 2px 6px 0px rgba(0,0,0,.25);
    border-radius: 100%;
    cursor: pointer;
    height: 48px;
    width: 48px;
    transition: all .25s cubic-bezier(0.42, 0, 0.33, 0.97);
}
.button-wrap__icon:hover {
  background-color: #eee;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,.1);
}

.button-wrap__icon svg {
  fill: #009245;
  width: 27px;
}

.button-wrap span {
  background-color: #7fc2dc;
  color: white;
  font-size: 26px;
  font-size: 2.6rem;
  margin-left: 24px;
  padding: 0 2px;
  position: relative;
}

.button-wrap span:before {
    border-top: 10px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 10px solid #7fc2dc;
    bottom: 0;
    content: "";
    position: absolute;
    right: 100%;
}

.button--white {
  background-color: white;
  border-radius: 6px;
  box-shadow: 1px 2px 6px 0px rgba(0,0,0,.25);
  cursor: pointer;
  color: #009245;
  font-weight: bold;
  padding: 12px 27px;
  text-decoration: none;
  transition: all .25s cubic-bezier(0.42, 0, 0.33, 0.97);
}
.button--white:hover {
  background-color: #eee;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,.1);
}

.button--circ-green {
  background-color: #009245;
  border-radius: 100%;
  box-shadow: 1px 2px 6px 0px rgba(0,0,0,.25);
  color: white;
  cursor: pointer;
  font-weight: bold;
  height: 72px;
  margin: 0 4.5%;
  text-align: center;
  text-decoration: none;
  width: 72px;
  transition: all .25s cubic-bezier(0.42, 0, 0.33, 0.97);
}
.button--circ-green:hover {
  background-color: #005d18;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,.1);
}

.button__toggle--spacing {
  margin-right: 18px;
}

.button__toggle {
  background-color: #F2F2F2;
  border-radius: 6px;
  color: #009245;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 12px 27px;
  text-decoration: none;
  transition: all .25s cubic-bezier(0.42, 0, 0.33, 0.97);
}
.button__toggle:hover {
  background-color: #ddd;
}

.flex--wrap > .button__toggle { margin: 18px 18px 18px 0px; }

.button__toggle.button__toggle--on {
  background-color: #009245;
  color: white;
}

.button__toggle.button__toggle--disabled {
    color: #ccc;
}

.button__toggle.button__toggle--disabled:hover {
    background-color: #F2F2F2;
    cursor: text;
}

input.button--white {
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5em;
  margin-bottom: 27px;
  padding: 12px 27px;
}

/* Detail view */
.add-comment {max-width: 1200px;}

.add-comment textarea {
  border-color: #ccc;
  box-sizing: border-box;
  display: block;
  font-size: 1.8rem!important;
  font-size: 18px;
  margin-bottom: 27px;
  padding: 9px;
  width: 100%;
}

.comments {max-width: 1200px;}

.comments > h3 {
  text-transform: uppercase;
  color: #999;
}

.comments__comment {

}

.comments__comment__profile {
  background-color: #999;
  border-radius: 100%;
  flex: 0 0 auto;
  height: 48px;
  margin-right: 36px;
  width: 48px;
}

.comments__comment__text {
  border-radius: 3px;
  margin-bottom: 54px;
  max-width: 800px;
  position: relative;
  transition: all .25s cubic-bezier(0.42, 0, 0.33, 0.97);
}

.comments__comment__text > p {
    max-width: 620px;
}

.comments__comment__controls {
  display: flex;
  position: absolute;
  left: 100%;
  top: 0;
}

.comments__comment__controls > div {
  flex: 1 0 auto;
  margin-bottom: 28px;
}

.comments__count {
  font-weight: normal;
}

.post-comment-count {
  color: #999;
  font-size: 18px;
  position: absolute;
}

.create-controls {
  margin-top: 50px;
}

.create-controls__cancel {
  margin-right: 50px;
  width: 250px;
}

.create-controls__cancel-button {
  margin-left: 36px;
}




/*
 * flex
 */
.flex--default {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.flex--wrap {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.flex--vertical-center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex--align-center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex--align-right {
  justify-content: flex-end;
}

.line-art-icon {
  fill:none;stroke:#009245;stroke-miterlimit:10;
}

/*
 * Forms
*/
.input-wrap {
    overflow: visible !important;
    position: relative;
}

label {
    color: #666;
    font-size: 16px;
    font-size: 1.6rem;
}

.input-wrap > label {
    position: absolute;
    top: 18px;
    left: 0;
    transform-origin: top left;
    transition: all .25s cubic-bezier(0.43, 0.02, 0.58, 1);
    z-index: -1;
}

label > span { color: #999; }

.input-wrap--textarea > label {
  z-index: 1;
}

.flex--wrap > label { flex: 1 0 100%; }

input[type="text"] {
    background-color: transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-top: 0px solid transparent;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    margin: 18px 0 27px;
    padding: 3px 0px;
    width: 100%;
}

label.input-wrap--active {
  animation: labelAnimUp .3s forwards cubic-bezier(0.63, 0.01, 0.32, 1);
}

.buttons-group > span, .buttons-group > span > label {
    display: block;
}

.buttons-group > input[type="radio"] {
    opacity: 0;
}

@keyframes labelAnimUp {
    to {top: -18px;}
}

label.input-wrap--default {
  animation: labelAnimDown .3s forwards cubic-bezier(0.63, 0.01, 0.32, 1);
}

@keyframes labelAnimDown {
    to {top: 18px;}
}

input[type="text"]:focus, textarea:focus {
    outline: none;
    border-bottom-color: #249954;
}

textarea {
  background-color: transparent;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-top: 0 solid transparent;
  border-bottom: 1px solid #ccc;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  overflow: visible !important;
  margin: 18px 0 27px;
  width: 100%;
}

button {
  background-color: #009245;
  border: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;

}

.select__menu-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 90;
    display: none;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}

.select__menu-wrapper .select__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    max-height: 256px;
    min-height: 48px;
    overflow-y: hidden;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.select__menu-wrapper .select__menu .select__menu__content {
    background: white;
    min-width: 136px;
    min-height: 48px;
    max-height: 256px;
    overflow-y: auto;
}

.select__menu-wrapper .select__menu .select__menu__content .select__option {
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 48px;
    -webkit-box-align: center;
    padding: 0 16px;
    -webkit-transition: background .15s linear;
    transition: background .15s linear;
    width: auto;
}

.select > .select__value {
    color: #009245;
    padding: 2px 2px 1px;
    position: relative;
}
